.webpage-list-title {
    display: flex;
    flex-flow: row;
    background-color: rgb(24,27,33);
    color: white;
    font-size: 20px;
    line-height: 100%;
    border: 1px solid grey;

    .date {
        min-width: 200px;
        border-right: 1px solid grey;
        padding: 15px 10px;
    }
    
    .url {
        padding: 15px 10px;
        flex-grow: 4;
    }
}
